# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/env

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-*

# IDE - VSCode
*.code-workspace
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
*.lock
*.txt
settings_local.py
*.~*

# System Files
.DS_Store
Thumbs.db
